.app {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* make the control panel float on 
 * top with readable buttons */
.controls {
  position: absolute;
  z-index: 10000;
  margin: 10px;
  padding: 10px;
  top: 0;
  right: 0;
  color: white;
  text-align: center;
  font-weight: bold;
  line-height: 1.5;
  outline: 1px solid white;
}

.controls > button {
  cursor: pointer;
  display: block;
  font-size: 24px;
  margin-bottom: 0.2em;
  width: 100%;
  background-color: transparent;
  font-weight: bold;
  color: #fff;
  border-color: transparent;
}

.controls > .display {
  display: block;
  font-size: 24px;
  margin-bottom: 0.2em;
  width: 100%;
  font-weight: bold;
  color: #fff;
}

.controls > button:hover {
  border: 1px solid white;
}

.controls > button:active {
  border: 1px solid white;
}

@media (any-hover: none) {
  .controls {
    z-index: 10000;
    padding: 4px;
    font-weight: normal;
    line-height: 1;
  }

  .controls > button {
    cursor: none;
    font-size: 20px;
    margin-bottom: 0.1em;
    width: 100%;
    font-weight: normal;
  }
}

.tooltip:empty {
  display: none;
}
.tooltip {
  position: absolute;
  padding: 0.5em;
  margin: 0.5em;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 1em;
  z-index: 100;
  pointer-events: none;
}

@media (any-hover: none) {
  .tooltip {
    font-size: 2em;
  }
}

.legend {
  position: absolute;
  z-index: 10000;
  margin: 30px;
  padding: 10px;
  bottom: 0;
  left: 0;
  color: white;
  text-align: center;
  font-weight: bold;
  line-height: 1.5;
  outline: 1px solid white;
}
